
body {
  background-color: darkgreen;
}

#board {
  width: 900px;
  height: 500px;
  border: 3px solid white;
  background-color: black;
  position: relative;
}

#paddleLeft {
  background-color: teal;
  width: 25px;
  height: 100px;
  position: absolute;
  left: 15px; 
  top: 150px;  
}
  #paddleRight {
    background-color: teal;
    width: 25px;
    height: 100px;
    position: absolute;
    left: 850px; 
    top: 150px;  
  }
  #ball {
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
  }

    
    